.mainDashboard {
    margin: 10px;
    display: flex;
    flex-direction: column;
}

.dashboardHeader {
    color: #EDF5E1;
    flex-basis: 20%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.DheaderItems {
    text-align: center;
    flex-basis: 25%;
}

.dashboardBody {
    flex-basis: 80%;
    margin-left: 20px;
}

.dItems {
    outline: none;
    color: #EDF5E1;
    background-color: transparent;
    border: none;
    font-size: 30px;
    font-family: 'Raleway', sans-serif;
}

.dItems:hover {
    cursor: pointer;
    /* background-color: #05386B; */
}

.setLimitWrapper, .setHistoryWrapper, .quotaWrapper {
    align-items: center;
    color: #EDF5E1;
}

.limitInput {
    outline: none;
    background-color: transparent;
    border-style: solid;
    border-color: beige;
    width: 50px;
    color: aliceblue;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
}

.setLimitButton, .getHistoryButton, .dateInput {
    margin-top: 20px;
    border-radius: 5px;
    outline: none;
    border-color: #5CDB95;
    background-color: transparent;
    color: rgb(217, 236, 224);
    font-size: 15px;
}
.getHistoryButton, .dateInput{
    margin-top: 0;
}

.setLimitButton:hover, .getHistoryButton, .dateInput {
    cursor: pointer;
}

.setLimitButton:active {
    box-shadow: 0 5px #0F292F;
    transform: translateY(1px);
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button, input[type=date]::-webkit-inner-spin-button, input[type=date]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.unstyled::-webkit-inner-spin-button,.unstyled::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}
input[type="date"]::-webkit-calendar-picker-indicator,input[type="date"]::-webkit-inner-spin-button{
    color: #5CDB95;
}
input[type="date"]::-webkit-calendar-picker-indicator:hover,input[type="date"]::-webkit-inner-spin-button:hover
{
    cursor: pointer;
    background-color: transparent;
}
.childItem {
    font-size: 20px;
}

.hint {
    text-align: center;
    font-size: 20px;
}

.historyHeader:hover{
    cursor: pointer;
}

.selectedItem{
    border-top-style: ridge;
    border-color: rgb(211, 110, 110);
}
.tdInput{
    display: table-cell;
}
.tdHeading{
    display: table-row;
}
.loadingSpinner{
    width: 50px;
}
@media (max-width: 767px) {
    .tdInput{
        display: table-row;
    }
    .tdHeading{
        visibility: collapse;
    }
    .hint {
        text-align: center;
        font-size: 20px;
    }
    .dashboardBody {
        flex-basis: 90%;
        margin-left: 20px;
    }
    .idDisplay {
        font-size: 12px;
    }
    .dItems {
        height: 100%;
        font-size: 12px;
    }
    .DheaderItems {
        text-align: center;
        flex-basis: 25%;
    }
}