.mainBody{
    display: flex;
    flex-direction: row;
}

.panel{
    flex-basis: 50%;
}

.leftPanel{
    font-size: 30px;
    text-align: center;
    color: #66FCF1;
}

.rightPanel{
    text-align: center;
}

.extensionApp{
    color: #C5C6C7;
}

.extensionImg{
    width: 500px;
}